<!DOCTYPE html>
<html lang="en">
<head>
	<title>My Blog</title>
</head>
<body>
	<div class="container">
		<div class="row" style="color: red"> 
        {% with messages = get_flashed_messages() %}
          {% if messages %}
              
            {% for message in messages %}
                <strong> {{ message }} </strong>
            {% endfor %}
            {% endif %}
        {% endwith %}
        {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
      </div>
      

      	<div class="row">
			<form method="post">
				<input type="text" name="question" value="">
				<input type="submit">
        <ol>
        {% for entries in p %}
          <li>{{entries.question}}</li>
        {% endfor %}
        </ol>
			</form>
		</div>
	</div>
</body>
</html>

