<!DOCTYPE html>
<html>
<head>
	<title>List Of Courses</title>
</head>
<style type="text/css">
    body{
        background-color: B8860B;
         /*background-image: url("/static/python.png");*/
    }
</style>
<body>
	<div align="right">
            <form action="/logout">
              <input type="submit" name="logout" value="logout">
            </form>
      </div>
      <br><br>
	<div class="container"> 
		<img src="static/resources.jpg" alt="Resources img" width="1400px" height="200px">

			<p> HELLO WELCOME ALL.....<strong>You choosen a right place </strong></p>
				
				<center>
					<ol class="LayoutOfCourses">
						<li class="course">
							<div class="pgmnglanguage">
								<div class="logo"><img src="static\python.PNG"  width="100" height="100" alt="python" title="PYTHON COURSE"></div>
								<div><a href="Python"><STRONG>PYTHON RESOURCES</STRONG></a></div>

								
							</div>
						</li>

						<br>



						<li class="course">
							<div class="pgmnglanguage">
								<div class="logo"><img src="static\java.PNG"  width="100" height="100" alt="java" title="JAVA COURSE"></div>
								<div><a href="JavaResources"><STRONG>JAVA RESOURCES</STRONG></a></div>

								
							</div>
						</li>


						<br>

						<li class="course">
							<div class="pgmnglanguage">
								<div class="logo"><img src="static\c-programming.PNG"  width="100" height="100" alt="C-programming" title="C Programming"></div>
								<div><a href="C_Resources"><STRONG>C programmingRESOURCES</STRONG></a></div>

								
							</div>
						</li>

						<br>

						<li class="course">
							<div class="pgmnglanguage">
								<div class="logo"><img src="static\Datastructure.PNG"  width="100" height="100" alt="Datastructure" title="Datastructures"></div>
								<div><a href="Datastructures_Resources"><STRONG>Datastructures RESOURCES</STRONG></a></div>

								
							</div>
						</li>

						<br>

						<li class="course">
							<div class="pgmnglanguage">
								<div class="logo"><img src="static\dbms.PNG"  width="100" height="100" alt="DATABASE MANAGEMENT SYSTEMS" title="Database management"></div>
								<div><a href="DATA_BASE_MANAGEMENT_Resources"><STRONG>DATA BASE MANAGEMENT RESOURCES</STRONG></a></div>

								
							</div>
						</li>

					</ol>
				</center>

	</div>


	
			
			

	

</body>
</html>